* {
  box-sizing: border-box;
  font-family: "Georgia";
}

body {
  margin: 0 auto;
  max-width: 90%;
  background-color: rgb(77, 88, 110);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
.video {
  background-color: whitesmoke;
  padding: 10px;
}

.video {
  width: 75%;
}

header {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}
